* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  /* margin: 100px auto 20px; */
  margin: 100px auto;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* background-color: yellow; */
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  background: transparent;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
/*hide default checkbox*/
.custom-checkbox input {
  display: none;
}
/*create custom checkbox*/
.checkmark {
    margin-top: px;
  width: 20px;
  height: 20px;
  border: 2px solid #b1b1b1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

/* fill the checkbox when checked */

.custom-checkbox input:checked + .checkmark {
  background-color: #ff5945;
  border-color: #ff5945;
}



.custom-checkbox input:checked + .checkmark::after {
  content: "✔";
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
label{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;



}
label .cross{
    position: absolute;
    right: 10px;
    padding: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    text-align: center;
}
label .cross:hover{
    background: #edeef0;
    
}


